{% if paragraph is iterable %}
    {{ paragraph|var_dump }}
{% else %}
    {% if paragraph == '~list~' %}
        <ul style="list-style-image: url({{ url('theme://images/bullet-point.png') }})">
            {% for item in section.list %}
                <li>{{ item }}</li>
            {% endfor %}
        </ul>
    {% else %}
        {{ paragraph }}
    {% endif %}
{% endif %}
