// Your custom SCSS should be written here...

.grav-lightslider {
    .lSSlideOuter {
        .lSPager.lSpg {
            > li a {
                z-index: 1;
            }
        }
    }
}

#body > script:first-child + .grav-lightslider {
  margin-top: -3rem;
}

body.home {
    section#body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 66px;
        padding-bottom: 50px;
    }
}
#home-hero {
  background-image: url(../images/carousel/beach_group.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.trans-spec {
	-moz-transition: opacity 2s;
	-webkit-transition: opacity 2s;
	-o-transition: opacity 2s;
	transition: opacity 2s;
}
.fast {
	-moz-transition: opacity .2s;
	-webkit-transition: opacity .2s;
	-o-transition: opacity .2s;
	transition: opacity .2s;
}

#home-hero #cycle-welcome {
    color: #fff;
    overflow: hidden;
    height: 130px;
    max-width: 510px;
    width: 80vw;
    text-align: center;
    padding-top: 30px;
    position: relative;
    margin: 0 auto;
    #slideshow {
	position: relative;
    }
	img {
	    position:absolute;
	    left: 0px;
	    top: 0px;
	    width: 100%;
	    max-width: 100%;
	}
	.box {
		background: transparent;
		border: none;
		position: absolute;
		left: 0px;
		top: 0px;
		width: 390px;
		height: 85px;
	}
}
@media(min-width: 768px) {
    #home-hero h1 {
        font-size: 100px;
    }
}

#hero-image {
    height: 32vw;
    background-size: cover;
    margin-left: -7rem;
    margin-right: -7rem;
    margin-top: -60px;
    background-position: center;
    max-height: 420px;
    min-height: 200px;
}

.sb-slidebar.sb-active {
    z-index: 2;
}

body.text-center #body {
    text-align: center;
}
#body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0 !important;
}

h1#page-title {
    text-transform: uppercase;
    font-weight: 900;
    padding: 0 30px;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 55px;
}

p#page-description {
    font-size: 24px;
    color: $core-accent;
    font-weight: 700;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 30px;
}

body.section-separators .page-section {
    border-bottom: 1px solid $core-accent;
    padding-bottom: 50px;
}

.page-section {
    padding-top: 0px;
    padding-bottom: 0px;

    &:first-of-type {
        border-bottom: none;
        padding-top: 50px;
    }

    &.narrow .page-section-wrapper {
        max-width: 728px;
        margin: 0 auto;
    }

    &.bg-gray {
        background-color: #eee;
        margin-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    h2 {
        font-weight: 900;
        text-transform: uppercase;

        i {
            color: $core-text;
            font-size: 75px;
        }

        img {
            height: 100px;
            max-width: 100px;
        }
    }

    .sub-sections-wrapper {
        padding: 30px;
        .sub-section {
            padding-left: 9%;
            padding-right: 9%;
            h3 {
                text-transform: uppercase;
                font-weight: 700;
                line-height: 25px;
            }
            &> p {
		    max-width: 600px;
		    position: relative;
		    display: block;
		    margin: 30px auto;
            }
            padding: 30px;
        }
    }

    table th {
	    width: 140px;
	    text-align: left;
	    color: #34a0c6;
	    vertical-align: top;
    }
    table td {
	    text-align: left;
    }
    ul {
        text-align: left;
	max-width: 600px;
	position: relative;
	display: inline-block;
    }
    &> p {
	    max-width: 600px;
	    position: relative;
	    display: block;
	    margin: 0px auto;
	}

    &#find-out-more {
	    p {
		    line-height: 20px;
		    margin: 20px auto;
		    padding: 5px;
	    }
	    .contact {
		    font-weight: 900;
		    font-size: 120%;
	    }
	    span {
		    font-weight: 900;
	    }
    }

    &#funded-by {
        margin-bottom: 50px;
    }
    p {
        margin: 0.7rem auto;
    }
}
#breadcrumbs {
    margin-left: -5rem;
    font-weight: 900;
    text-transform: uppercase;
    span {
        padding: 0 !important;
    }
}

#staff-list {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    .person {
        padding-bottom: 30px;
        padding-top: 50px;
        min-height: 310px;
        border-bottom: 1px solid $core-accent;

        .photo {
            float: left;
            margin-right: 20px;

            img {
                max-height: 220px;
            }
        }

        .heading {
            p {
                color: $core-accent;
                font-weight: 700;
                font-size: 18px;
                margin: 0;
                text-align: left;
                line-height: 21px;
            }
        }

        .blurb {
            p {
                text-align: left;
                line-height: 21px;

            }
        }
    }

    .person:last-child {
        border-bottom: none;
    }
    .person:first-child {
        padding-top: 10px;
    }
}

#contact-us-button {
    text-align: center;
    width: 100%;
    margin: 40px 0px;
    a {
        img {
            height: 40px;
        }
    }
}


form#contact, form#subscribe {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;

    div.form-label {
        display: none;
    }
}

#calendar {
    max-width: 1200px;
    margin: 0 auto;
}

#content {
    max-width: 1200px;
    margin: 0 auto;
}
.attachment {
	margin-top: 50px;
	img {
		    box-shadow: 0px 4px 9px 0px rgba(0,0,0,0.6);
            max-width: 220px;
	    }
    img.no-shadow {
        box-shadow: none;
    }
	.attachment-title {
		margin-top: 20px;
	}
}
#mc_embed_signup {
    max-width: 768px;
    margin: 0 auto;
}
.tntsearch-results {
    margin-top: -29px;
    padding: 15px;
    width: 200px;
}


#header #navbar ul.navigation li .tntsearch-results ul {
	display: block;
}
