.overview-items {
    max-width: 1200px;
    margin: 0 auto;
    .overview-item {
        text-align: left;
        padding: 20px;
        h2 {
          font-family: 'Nunito Sans', sans-serif;
	  margin: 0;
          text-align: left;
          color: $core-accent;
          font-weight: 900;
          text-transform: uppercase;
          font-size: 25px;
        }
        img {
            max-width: 100%;
        }
	p.description {
		margin: 5px 0px;
	}
	a.read-more {
		font-weight: 900;
	}

    }
    @media(min-width: 768px) {
        .overview-item {
            padding: 30px;
        }
    }
}
